@import "tailwindcss";

@theme {
  --color-primary: #fefaf2;
}

body {
  background-color: #fbfcf9;
}

@keyframes floating {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

.animate-floating {
  animation: floating 3s ease-in-out infinite;
}