@import "tailwindcss";

:root {
  --bg-1: #969696;
}

@keyframes floating {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

.animate-floating {
  animation: floating 3s ease-in-out infinite;
}